@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo del scrollbar para todos los navegadores */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: #0000ff; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
  background-color: #ff22ff; /* Color del thumb */
  border-radius: 10px; /* Bordes redondeados del thumb */
}

body {
  font-family: 'DM Sans', sans-serif; /* Aplicar la fuente DM Sans */
  scrollbar-width: thin; /* Ancho del scrollbar */
  scrollbar-color: #00ff00 #ff0000; /* Color del thumb y del track */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
