@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo del scrollbar para todos los navegadores */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: #0000ff; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
  background-color: #ff22ff; /* Color del thumb */
  border-radius: 10px; /* Bordes redondeados del thumb */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'DM Sans', sans-serif; /* Aplicar la fuente DM Sans */
  scrollbar-width: thin; /* Ancho del scrollbar */
  scrollbar-color: #00ff00 #ff0000; /* Color del thumb y del track */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
